$primary-color: #3bc66f;
$primary-highlight: #32ba65;
$gray-99: #999;
$gray-33: #333;
$gray-66: #666;
$gray-22: #222222;
$white: #ffffff;
$gray-ee: #eeeeee;
// hack
$hack: '\9';
$img-url: '/ES6Api/dist/img/';
@import "./public/reset.scss";
@import "./public/mixin.scss";
@import "./module/testA.scss";
@import "./public/fonts.scss";
/* footer通用 start */
.www-footer {
	position: relative;
	z-index: 9;
	margin-top: 0;
	padding-top: 46px;
	background-color: #222222;
	min-width: 1700px;
	background-image: url('#{$img-url}a.png');
	@include clearfix();
}

.one {
	width:100px;height:100px;
}
.two {
	/*继承的样式*/
	@extend .one, .three;
	@extend %four;
	/*独立的样式*/
	background:red;
	border:5px solid #000;
}
.three {
	padding:10px;
}
/* 占位，不会被编译 */
%four{
	background-color: #000;
}
/* footer的广告位end */

/* 友情链接 end */
/* 小于等于1200尺寸样式 */
@media screen and (max-width: 1700px) {
	.friendship-link {
		min-width: 1200px;
	}

	.www-footer {
		min-width: 1200px;
		.footer-nav-list ul {
			margin-right: 140px;
		}
	}
}